<!DOCTYPE html>
<html lang="ja">
    <%- include('./_include/_head', {page: meta.top}); %>
    <body class="c-text__family--ja-sans c-text__size--md c-text__color--neutral-darken c-text__weight--normal c-text__ls--normal c-text__lh--normal">
        <!-- loading -->
        <%- include('./_include/_loading'); %>
        <!-- end loading -->

        <!-- header -->
        <%- include('./_include/_header', { page: 'top' }); %>
        <!-- end header -->

        <!-- main section -->
        <main class="l-main">
            <!-- dummy text -->
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis sint nisi accusamus rerum, quisquam iste rem vero vel nobis. Porro, officia perferendis enim dolorem recusandae quae laboriosam dicta nesciunt veritatis? Possimus dolorum voluptatum exercitationem nihil nulla. Maxime necessitatibus ad, culpa molestias doloremque in dolorum ea doloribus sunt quo soluta aliquid eveniet modi suscipit corrupti dolorem quibusdam odio voluptas et minima. Quis natus eos doloremque dolorem, corrupti repellat ratione placeat quas ipsum saepe illo quia fugiat omnis quasi similique? Laudantium hic vitae inventore neque? Itaque blanditiis, commodi cumque vel soluta provident? Unde quis repudiandae amet officiis vel maiores alias tenetur dolorum, voluptatibus veritatis reiciendis, pariatur, sequi recusandae molestias similique minus ipsa adipisci expedita error commodi labore assumenda tempore sunt. Cumque, commodi. Aliquid dolorum nostrum nisi, quaerat cupiditate qui, ratione tempora
                nam consectetur magni sit, autem sapiente? Nemo reiciendis totam nam laboriosam quos placeat voluptas iusto exercitationem. Odit vitae recusandae non debitis. Perspiciatis illo dolorem blanditiis eligendi molestiae, aliquid sunt fugiat optio animi dolor? Esse unde rerum recusandae dolores doloribus, itaque, deserunt voluptatibus ipsum perferendis accusamus dolore labore commodi est provident iste. Asperiores, doloremque? Maiores quam ut molestias, in harum consectetur mollitia quasi perferendis ipsa et ipsum officia. Voluptates facilis excepturi ut debitis? Adipisci quasi omnis quidem qui quas reiciendis excepturi neque. Debitis eaque veniam tempora non neque doloribus nostrum sapiente, totam adipisci unde hic repellendus ad dignissimos, quod nisi, repudiandae incidunt distinctio dicta quaerat sint ipsum! Aut fugiat ea culpa quo! Totam, adipisci unde nisi ratione accusantium recusandae voluptatem iste animi quia, cum suscipit ea atque sapiente. Sed recusandae
                perferendis quidem, libero fugiat explicabo, molestiae alias numquam, nobis fugit aspernatur velit. Facere facilis voluptatibus alias ut quae nostrum, temporibus ipsa, quam hic dolorum reiciendis saepe libero iusto repudiandae! Doloremque, nesciunt et, repudiandae earum odit quia non, nostrum delectus ipsum a labore.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis sint nisi accusamus rerum, quisquam iste rem vero vel nobis. Porro, officia perferendis enim dolorem recusandae quae laboriosam dicta nesciunt veritatis? Possimus dolorum voluptatum exercitationem nihil nulla. Maxime necessitatibus ad, culpa molestias doloremque in dolorum ea doloribus sunt quo soluta aliquid eveniet modi suscipit corrupti dolorem quibusdam odio voluptas et minima. Quis natus eos doloremque dolorem, corrupti repellat ratione placeat quas ipsum saepe illo quia fugiat omnis quasi similique? Laudantium hic vitae inventore neque? Itaque blanditiis, commodi cumque vel soluta provident? Unde quis repudiandae amet officiis vel maiores alias tenetur dolorum, voluptatibus veritatis reiciendis, pariatur, sequi recusandae molestias similique minus ipsa adipisci expedita error commodi labore assumenda tempore sunt. Cumque, commodi. Aliquid dolorum nostrum nisi, quaerat cupiditate qui, ratione tempora
                nam consectetur magni sit, autem sapiente? Nemo reiciendis totam nam laboriosam quos placeat voluptas iusto exercitationem. Odit vitae recusandae non debitis. Perspiciatis illo dolorem blanditiis eligendi molestiae, aliquid sunt fugiat optio animi dolor? Esse unde rerum recusandae dolores doloribus, itaque, deserunt voluptatibus ipsum perferendis accusamus dolore labore commodi est provident iste. Asperiores, doloremque? Maiores quam ut molestias, in harum consectetur mollitia quasi perferendis ipsa et ipsum officia. Voluptates facilis excepturi ut debitis? Adipisci quasi omnis quidem qui quas reiciendis excepturi neque. Debitis eaque veniam tempora non neque doloribus nostrum sapiente, totam adipisci unde hic repellendus ad dignissimos, quod nisi, repudiandae incidunt distinctio dicta quaerat sint ipsum! Aut fugiat ea culpa quo! Totam, adipisci unde nisi ratione accusantium recusandae voluptatem iste animi quia, cum suscipit ea atque sapiente. Sed recusandae
                perferendis quidem, libero fugiat explicabo, molestiae alias numquam, nobis fugit aspernatur velit. Facere facilis voluptatibus alias ut quae nostrum, temporibus ipsa, quam hic dolorum reiciendis saepe libero iusto repudiandae! Doloremque, nesciunt et, repudiandae earum odit quia non, nostrum delectus ipsum a labore.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis sint nisi accusamus rerum, quisquam iste rem vero vel nobis. Porro, officia perferendis enim dolorem recusandae quae laboriosam dicta nesciunt veritatis? Possimus dolorum voluptatum exercitationem nihil nulla. Maxime necessitatibus ad, culpa molestias doloremque in dolorum ea doloribus sunt quo soluta aliquid eveniet modi suscipit corrupti dolorem quibusdam odio voluptas et minima. Quis natus eos doloremque dolorem, corrupti repellat ratione placeat quas ipsum saepe illo quia fugiat omnis quasi similique? Laudantium hic vitae inventore neque? Itaque blanditiis, commodi cumque vel soluta provident? Unde quis repudiandae amet officiis vel maiores alias tenetur dolorum, voluptatibus veritatis reiciendis, pariatur, sequi recusandae molestias similique minus ipsa adipisci expedita error commodi labore assumenda tempore sunt. Cumque, commodi. Aliquid dolorum nostrum nisi, quaerat cupiditate qui, ratione tempora
                nam consectetur magni sit, autem sapiente? Nemo reiciendis totam nam laboriosam quos placeat voluptas iusto exercitationem. Odit vitae recusandae non debitis. Perspiciatis illo dolorem blanditiis eligendi molestiae, aliquid sunt fugiat optio animi dolor? Esse unde rerum recusandae dolores doloribus, itaque, deserunt voluptatibus ipsum perferendis accusamus dolore labore commodi est provident iste. Asperiores, doloremque? Maiores quam ut molestias, in harum consectetur mollitia quasi perferendis ipsa et ipsum officia. Voluptates facilis excepturi ut debitis? Adipisci quasi omnis quidem qui quas reiciendis excepturi neque. Debitis eaque veniam tempora non neque doloribus nostrum sapiente, totam adipisci unde hic repellendus ad dignissimos, quod nisi, repudiandae incidunt distinctio dicta quaerat sint ipsum! Aut fugiat ea culpa quo! Totam, adipisci unde nisi ratione accusantium recusandae voluptatem iste animi quia, cum suscipit ea atque sapiente. Sed recusandae
                perferendis quidem, libero fugiat explicabo, molestiae alias numquam, nobis fugit aspernatur velit. Facere facilis voluptatibus alias ut quae nostrum, temporibus ipsa, quam hic dolorum reiciendis saepe libero iusto repudiandae! Doloremque, nesciunt et, repudiandae earum odit quia non, nostrum delectus ipsum a labore.
            </p>
            <!-- end dummy text -->

            <!-- top-kv -->
            <!-- <div class="p-top-kv">
                <div class="p-top-kv__media-01">
                    <picture>
                        <source type="image/webp" sizes="" srcset="<%= meta.path['img:top'] %>top-kv-01-708x711.webp 708w, <%= meta.path['img:top'] %>top-kv-01-1416x1422.webp 1416w, <%= meta.path['img:top'] %>top-kv-01-2124x2133.webp 2124w" />
                        <img class="p-top-kv-01__image" width="708" height="711" src="<%= meta.path['img:top'] %>top-kv-01-2124x2133.png" sizes="" srcset="<%= meta.path['img:top'] %>top-kv-01-708x711.png 708w, <%= meta.path['img:top'] %>top-kv-01-1416x1422.png 1416w, <%= meta.path['img:top'] %>top-kv-01-2124x2133.png 2124w" alt="" decoding="async" loading="eager" />
                    </picture>
                </div>
                <div class="p-top-kv__container u-mx--auto u-z--10 u-position--relative">
                    <div class="p-top-kv__inner">
                        <div class="p-top-kv__body">
                            <h2 class="p-top-kv__copy c-text__size--3xl c-text__weight--bold">コーディングの手間を<br class="u-display__none--from-wide" />最小に、<br class="u-display__none--until-wide" />デザインに注力<br class="u-display__none--from-wide" />する助けに<br /></h2>
                            <p class="p-top-kv__text c-text__weight--bold">ユアコーディングはコーディングに<br class="u-display__none--from-wide" />特化した<br class="u-display__none--until-wide" />フリーランス<br class="u-display__none--from-wide" />デザインに注力されたい方の<br class="u-display__none--from-wide" />助けになります</p>
                            <a class="p-top-kv__link c-button c-button__size--md c-button__color--gradient c-text__color--white c-text__weight--bold" href="">お問い合わせ</a>
                        </div>
                        <div class="p-top-kv__media-02">
                            <picture>
                                <source type="image/webp" sizes="" srcset="<%= meta.path['img:top'] %>top-kv-02-518x430.webp 518w, <%= meta.path['img:top'] %>top-kv-02-1036x860.webp 1036w, <%= meta.path['img:top'] %>top-kv-02-1554x1290.webp 1554w" />
                                <img class="p-top-kv-02__image" width="518" height="430" src="<%= meta.path['img:top'] %>top-kv-02-1554x1290.png" sizes="" srcset="<%= meta.path['img:top'] %>top-kv-02-518x430.png 518w, <%= meta.path['img:top'] %>top-kv-02-1036x860.png 1036w, <%= meta.path['img:top'] %>top-kv-02-1554x1290.png 1554w" alt="" decoding="async" loading="eager" />
                            </picture>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- end top-kv -->

            <!-- top-feature -->
            <!-- <section style="height: 2000px"></section> -->
            <!-- end top-feature -->
        </main>
        <!-- end main section -->

        <!-- footer -->
        <%- include('./_include/_footer') %>
        <!-- end footer -->
    </body>
</html>
