<!DOCTYPE html>
<html lang="ja">
    <%- include('./_include/_head', {page: meta.top}); %>
    <body>
        <!-- loading -->
        <%- include('./_include/_loading'); %>

        <!-- header -->
        <%- include('./_include/_header', { page: 'top' }); %>

        <!-- main section -->
        <main class="l-main">
            <!-- key-visual -->
            <div class="p-top-kv">
                <div class="l-container l-container__padding--narrow l-container__max-width--xl">
                    <div class="p-top-kv__inner">
                        <div class="p-top-kv__body">
                            <div class="p-top-kv__title-wrapper">
                                <p class="p-top-kv__title c-heading__level1"><span class="c-heading__level1--emphasis c-text--outline">コード</span><span class="c-heading__level1--moderate">に</span><br class="u-visible-until-desktop" /><span class="p-top-kv__animation-01">思い</span><span>を込めて</span></p>
                                <p class="p-top-kv__title c-heading__level1"><span class="c-heading__level1--emphasis c-text--outline">コード</span><span class="c-heading__level1--moderate">で</span><br class="u-visible-until-desktop" /><span class="p-top-kv__animation-02">想い</span><span>を伝える</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end key-visual -->

            <!-- circle-text -->
            <!-- <div class="c-circle-text-wrapper"> -->
            <!-- <div class="c-circle-text c-text--extra-mid c-text--bold">コードに思いを込めて。コードで想いを伝える。</div> -->
            <!-- </div> -->
            <!-- end circle-text -->

            <!-- about -->
            <section class="p-top-about" data-aos="fade-in">
                <div class="l-container l-container__width--normal l-container__max-width--xl">
                    <div class="p-top-about__inner">
                        <div class="p-top-about__header" data-aos="fade-in">
                            <h2 class="p-top-about__title c-heading__level2 c-text--uppercase">自己紹介</h2>
                        </div>
                        <div class="p-top-about__body" data-aos="fade-in">
                            <div class="p-top-about__profile">
                                <h3 class="p-top-about__name"><span class="c-text__2xl c-text--bold c-text--wide u-break-all">古田 雅大</span><span class="p-top-about__position c-text__sm c-text--lighter u-break-all">Furuta Masato</span></h3>
                            </div>
                            <div class="p-top-about__description">
                                <p class="p-top-about__text">1983年北海道生まれ。</p>
                                <p class="p-top-about__text">
                                    <span class="u-break-tablet">前職の<a class="c-text--link c-text--underline" href="https://www.meitec.co.jp/" target="_blank" rel="noopener norefferrer">メイテック</a>では、ハードウェアエンジニアとして</span><span class="u-break-tablet">自動車/家電/PC/電子部品の商品開発や回路設計に従事。</span>
                                </p>
                                <p class="p-top-about__text">
                                    <span class="u-break-tablet">2019年に趣味の家庭菜園のブログをWordPressで構築。</span><span class="u-break-tablet">その経験からコーディングに興味を持ち、</span><span class="u-break-tablet"><a class="c-text--underline c-text--link" href="https://zenn.dev/massa" target="blank" rel="noopener norefferrer">Zenn</a>のプラットフォームでの技術記事の投稿、</span><span class="u-break-tablet">デザインカンプからのコーディング学習を現在まで継続。</span>
                                </p>
                                <p class="p-top-about__text"><span class="u-break-tablet">今後はコーディングを中心にウェブ制作の仕事に携わり、</span><span class="u-break-tablet">関わる全ての方が少しでも幸せになり、</span><span class="u-break-tablet">笑顔が増えるお手伝いができたらと思います。</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="p-top-about__timeline">
                        <h3 class="p-top-about__experience c-heading__level3 c-text--bold c-text--uppercase">経歴と今後</h3>
                        <ol class="p-top-about__list c-timeline">
                            <li class="c-timeline__item">
                                <div class="c-timeline__content c-timeline__content--dashed-line">
                                    <h3 class="c-timeline__title c-text__lg c-text--normal">フルスタックエンジニア</h3>
                                    <p class="c-timeline__description">デザインやバックエンドにも興味があり、会社やお客様からも求められるのであれば、フロントエンド以外のデザインやバックエンドのスキルも身につけたい。それにより、チーム内のデザイナーやバックエンドエンジニア達とのコミュニケーションが円滑になり、より良いプロダクトが作れると信じています。コーチングにも興味があり、Web技術を通して後輩の育成やチームとしても頼られる存在になりたい。</p>
                                </div>
                                <time class="c-timeline__time c-text__sm c-text--lighter"><span class="u-break-all">3~4年後</span></time>
                            </li>
                            <li class="c-timeline__item">
                                <div class="c-timeline__content c-timeline__content--dashed-line">
                                    <h3 class="c-timeline__title c-text__lg c-text--normal">フロントエンジニア</h3>
                                    <p class="c-timeline__description">HTML/CSSでスピードと正確さを持ってデザインを再現するスキルはもちろん、JavaScript(React/Vue/WebGL)による高速化と高度な演出、CMS(WordPress)のテーマ開発や機能追加に関するスキルを習得したい。海外の新しいWeb技術を知る事も好きであり、実際にその技術を使用し得られた経験やスキルを技術記事にまとめ、ノウハウの蓄積と見える化を徹底したい。</p>
                                </div>
                                <time class="c-timeline__time c-text__sm c-text--lighter"><span class="u-break-all">1~2年後</span></time>
                            </li>
                            <li class="c-timeline__item">
                                <div class="c-timeline__content">
                                    <h3 class="c-timeline__title c-text__lg c-text--normal">株式会社メイテック<span class="c-text__sm c-text--low-lighter u-pl-2">9年間</span></h3>
                                    <p class="c-timeline__description">前職のメイテックは約7000名のエンジニア集団。ハードウェアエンジニアとして自動車/家電/PC/電子部品/アミューズメントの商品開発や回路設計の課題解決に約9年間従事してきました。プロダクトを市場に投入するまでの企画立案/製品設計/工程設計/デザインレビュー/チームビルディング/クロスファンクショナルチーム/振り返り分析/FMEAなどの一連の開発プロセスを経験。私の大事な財産でありWeb制作にも活かせると信じています。</p>
                                    <p class="c-timeline__description">昨今のコロナ禍の状況でリモートワークが多くなっていると思います。この当時から海外のセールスエンジニアや他事業所のメンバーとは、ZoomやTeams、Skypeなどで連絡を密にしてプロジェクトを進めてきた経験もあるので、リモートワークにも柔軟に対応できると考えています。</p>
                                </div>
                                <time class="c-timeline__time c-text__sm c-text--lighter"><span class="u-break-all">2021年8月</span><span class="u-break-all">〜</span><span class="u-break-all">2012年9月</span></time>
                            </li>
                            <li class="c-timeline__item">
                                <div class="c-timeline__content">
                                    <h3 class="c-timeline__title c-text__lg c-text--normal">株式会社スタッフサービス　エンジニアリング事業本部<span class="c-text__sm c-text--low-lighter u-pl-2">2年間</span></h3>
                                    <p class="c-timeline__description">家庭用冷蔵庫の回路設計・評価業務に従事。</p>
                                </div>
                                <time class="c-timeline__time c-text__sm c-text--lighter"><span class="u-break-all">2012年8月</span><span class="u-break-all">〜</span><span class="u-break-all">2011年2月</span></time>
                            </li>
                            <li class="c-timeline__item">
                                <div class="c-timeline__content">
                                    <h3 class="c-timeline__title c-text__lg c-text--normal">音楽学校メーザー・ハウス<span class="c-text__sm c-text--low-lighter u-pl-2">2年間</span></h3>
                                    <p class="c-timeline__description">在学中にオーディションを数多く受けるも合格できず。体調のバランスを崩した事によりミュージシャンの夢を断念。</p>
                                </div>
                                <time class="c-timeline__time c-text__sm c-text--lighter"><span class="u-break-all">2009年9月</span><span class="u-break-all">〜</span><span class="u-break-all">2008年4月</span></time>
                            </li>
                            <li class="c-timeline__item">
                                <div class="c-timeline__content">
                                    <h3 class="c-timeline__title c-text__lg c-text--normal">つのだ☆ひろ ワイルドミュージックスクール<span class="c-text__sm c-text--low-lighter u-pl-2">1年間</span></h3>
                                    <p class="c-timeline__description">スタジオミュージシャン（ドラム）を目指し北海道から上京。</p>
                                </div>
                                <time class="c-timeline__time c-text__sm c-text--lighter"><span class="u-break-all">2008年3月</span><span class="u-break-all">〜</span><span class="u-break-all">2007年4月</span></time>
                            </li>
                            <li class="c-timeline__item">
                                <div class="c-timeline__content">
                                    <h3 class="c-timeline__title c-text__lg c-text--normal">室蘭工業大学　工学部　電気電子工学科<span class="c-text__sm c-text--low-lighter u-pl-2">5年間</span></h3>
                                    <p class="c-timeline__description">高校から物理と電磁気学が好きになり進学しました。勉強の息抜きのつもりで入った音楽サークルに没頭し1年留年。3年生の時にサークルの部長を務め、同じ目標を持った仲間と活動できたことは、一生の財産になっています。ライブの会場設営や広告宣伝（ポスター・パンフレット・プロモーションビデオ）を通してチームとして大事なもの（熱量）を学ぶ事ができたと思います。</p>
                                </div>
                                <time class="c-timeline__time c-text__sm c-text--lighter"><span class="u-break-all">2007年3月</span><span class="u-break-all">〜</span><span class="u-break-all">2002年4月</span></time>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="p-top-about__media-wrapper">
                    <div class="p-top-about__media p-top-about__media--rellax l-container l-container__width--normal l-container__max-width--xl" data-rellax-speed="-0.5" data-rellax-moble-speed="-0.75" data-rellax-tablet-speed="-1" data-rellax-desktop-speed="-1.25">
                        <picture>
                            <source type="image/webp" sizes="(min-width: 2040px) 1920px, calc(94.19vw + 17px)" srcset="<%= meta.path['img:top'] %>top-about-600x400.webp 600w, <%= meta.path['img:top'] %>top-about-800x533.webp 800w, <%= meta.path['img:top'] %>top-about-1200x800.webp 1200w, <%= meta.path['img:top'] %>top-about-2400x1600.webp 2400w" />
                            <img class="p-top-about__image" width="600" height="400" src="<%= meta.path['img:top'] %>top-about-1200x800.jpg" sizes="(min-width: 2040px) 1920px, calc(94.19vw + 17px)" srcset="<%= meta.path['img:top'] %>top-about-600x400.jpg 600w, <%= meta.path['img:top'] %>top-about-800x533.jpg 800w, <%= meta.path['img:top'] %>top-about-1200x800.jpg 1200w, <%= meta.path['img:top'] %>top-about-2400x1600.jpg 2400w" alt="古田雅大のプロフィール写真" decoding="async" loading="lazy" />
                        </picture>
                    </div>
                </div>
            </section>
            <!-- end about -->

            <!-- skill -->
            <section class="p-top-skill">
                <div class="l-container l-container__width--normal l-container__max-width--xl">
                    <div class="p-top-skill__inner">
                        <div class="p-top-skill__header" data-aos="fade-in">
                            <h2 class="p-top-skill__title c-heading__level2 c-text--uppercase">技術</h2>
                            <div class="p-top-skill__textbox">
                                <p class="p-top-skill__text"><span class="u-break-all">2019年より完全独学で、</span><span class="u-break-all">英語のドキュメントや海外の技術記事を参考に、</span><span class="u-break-all">Web制作の学習を積み上げてきました。</span></p>
                                <p class="p-top-skill__text"><span class="u-break-all">自分のスタイルに固執する事なく、</span><span class="u-break-all">プロジェクトに合わせた柔軟な対応ができる</span><span class="u-break-all">そんなエンジニアを目指しています。</span></p>
                            </div>
                        </div>
                        <dl class="p-top-skill__list">
                            <div class="p-top-skill__item" data-aos="fade-in">
                                <span class="c-separator"></span>
                                <dt class="p-top-skill__term c-heading__level3 c-text--uppercase">html</dt>
                                <dd class="p-top-skill__data">正しいセマンティクスを心がけています。これは、SEO対策というよりもアクセシビリティへの配慮が一番の理由です。静的サイトでは、EJSもしくはPUGを使用してhead/header/footerのモジュール化、パスやメタ情報の設定ファイルを参照し、再利用かつ保守しやすいマークアップを心がけています。</dd>
                                <dd class="p-top-skill__data">フォーマッターはPrettierで、コンパイルの前後ともに適用し、可読性の向上に努めています。最終的なHTMLの検証は、LintHTMLおよびW3C Markup Validation Serviceを用いてチェックしています。</dd>
                            </div>
                            <div class="p-top-skill__item" data-aos="fade-in">
                                <span class="c-separator"></span>
                                <dt class="p-top-skill__term c-heading__level3 c-text--uppercase">css</dt>
                                <dd class="p-top-skill__data">拡張性があり、特異性が低く、保守が容易で、構造化された状態に保つことを心がけています。命名規則は、BEMをベースにFLOCSSの接頭辞を使用するのを好んでいます。これは、HTML構造に依存せず、極力スコープを限定し、他のスタイルとのコンフリクトへの予防を考慮しています。</dd>
                                <dd class="p-top-skill__data">Stylelintを活用し、広く知られているSass Guidelinesとrational orderに則った記述を実践しています。最終的なCSSの検証は、StylelintおよびW3C CSS Validation Serviceを用いてチェックしています。</dd>
                            </div>
                            <div class="p-top-skill__item" data-aos="fade-in">
                                <span class="c-separator"></span>
                                <dt class="p-top-skill__term c-heading__level3">JavaScript</dt>
                                <dd class="p-top-skill__data">ユーザーに違和感を与えない自然なインタラクションに繋がるパラメーター調整をを心がけています。ウェブ制作に最低限必要なDOMやIntersection ObserverなどのWeb API、スクロールやアニメーションなどの各種ライブラリの実装を習得しています。</dd>
                                <dd class="p-top-skill__data">JavaScriptの文法やES6以降の新機能など、完全に理解しきれていない面もあり、今後の課題であると認識しています。</dd>
                            </div>
                            <div class="p-top-skill__item" data-aos="fade-in">
                                <span class="c-separator"></span>
                                <dt class="p-top-skill__term c-heading__level3 c-text--uppercase">accessibility</dt>
                                <dd class="p-top-skill__data">健常者ではない方達への気持ちに寄り添えるサイトを制作したいと考えています。過度なアニメーションによるめまい、頭痛、吐き気を引き起こす前庭機能障害は私自身にもあります。このポートフォリオのサイトも充分かつ控えめな動きにして、必要に応じてユーザーがアニメーションを排する事ができるような設計にしています。</dd>
                                <dd class="p-top-skill__data">コーディングの観点からは、スクリーンリーダー、キーボード操作、モーション軽減機能への対応を心がけています。最終的なアクセシビリティの検証は、Polypaneの大変優れた<a class="c-text--link c-text--underline" href="https://polypane.app/blog/find-and-fix-accessibility-issues-with-polypane/" target="_blank" rel="noopener norefferrer">各種機能</a>を用いてチェックしています。</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </section>
            <!-- end skill -->

            <!-- works -->
            <section class="p-top-works">
                <div class="l-container l-container__width--normal l-container__max-width--xl">
                    <div class="p-top-works__inner">
                        <div class="p-top-works__header" data-aos="fade-in">
                            <h2 class="p-top-works__title c-heading__level2 c-text--uppercase">制作実績</h2>
                        </div>
                        <div class="p-top-works__body" data-aos="fade-in">
                            <div class="p-top-works__swiper swiper">
                                <div class="p-top-works__list p-top-works__swiper-wrapper swiper-wrapper">
                                    <div class="p-top-works__item p-top-works__swiper-slide swiper-slide c-card">
                                        <div class="c-card__media">
                                            <a href="https://portfolio.coding11ty.com" target="blank" rel="noopener norefferrer">
                                                <picture>
                                                    <source type="image/webp" sizes="(min-width: 2280px) 864px, (min-width: 1080px) calc(36.44vw + 40px), (min-width: 340px) 89.31vw, 268px" srcset="<%= meta.path['img:top'] %>top-works-01-478x235.webp 478w, <%= meta.path['img:top'] %>top-works-01-637x313.webp 637w, <%= meta.path['img:top'] %>top-works-01-956x470.webp 956w, <%= meta.path['img:top'] %>top-works-01-1911x939.webp 1911w" />
                                                    <img class="c-card__image" width="478" height="235" src="<%= meta.path['img:top'] %>top-works-01-956x470.jpg" sizes="(min-width: 2280px) 864px, (min-width: 1080px) calc(36.44vw + 40px), (min-width: 340px) 89.31vw, 268px" srcset="<%= meta.path['img:top'] %>top-works-01-478x235.jpg 478w, <%= meta.path['img:top'] %>top-works-01-637x313.jpg 637w, <%= meta.path['img:top'] %>top-works-01-top-works-01-956x470.jpg 956w, <%= meta.path['img:top'] %>top-works-01-1911x939.jpg 1911w" alt="Myポートフォリオのトップページのスクリーンショット" decoding="async" loading="lazy" />
                                                </picture>
                                            </a>
                                        </div>
                                        <div class="c-card__body">
                                            <h3 class="c-card__title c-heading__level3"><span class="c-text--bold">My Portfolio</span></h3>
                                            <div class="c-card__description">
                                                <p class="c-card__text">自身のポートフォリオになります。レスポンシブ画像の最適化による高速化やキーボード操作、コントラスト、フォーカスインジケータ、フォーカストリップ、スクリーンリーダー、リデュースモーションのアクセシビリティにも配慮しています。</p>
                                                <p class="c-card__text">苦労した点は、1回目のアクセス時のみローディングアニメーションを表示するCookieの設定、アクセシビリティを意識したフォームのバリデーション機能の追加になります。</p>
                                                <p class="c-card__text">今後、WordPressを実装して、Blogセクションの追加を予定しています。</p>
                                                <table class="c-table">
                                                    <tbody>
                                                        <tr class="c-table__row">
                                                            <th class="c-table__header" scope="row">工数</th>
                                                            <td class="c-table__data">12日（96時間）</td>
                                                        </tr>
                                                        <tr class="c-table__row">
                                                            <th class="c-table__header" scope="row">担当</th>
                                                            <td class="c-table__data">Web Design / Copy / Coding</td>
                                                        </tr>
                                                        <tr class="c-table__row">
                                                            <th class="c-table__header" scope="row">言語</th>
                                                            <td class="c-table__data">EJS / Dart Sass / JavaScript</td>
                                                        </tr>
                                                        <tr class="c-table__row">
                                                            <th class="c-table__header" scope="row">設計手法</th>
                                                            <td class="c-table__data">FROCSS / BEM / <a class="u-display__inline c-text--link c-text--underline" href="https://sass-guidelin.es/" target="_blank" rel="noopener norefferrer">Sass Guidelines</a></td>
                                                        </tr>
                                                        <tr class="c-table__row">
                                                            <th class="c-table__header" scope="row">開発環境</th>
                                                            <td class="c-table__data">npm scripts/ webppack / gulp / Stylelint / lintHTML / Prettier / PostCSS / Renovate / Autoprefixer / nvm / Git ...</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-top-works__item p-top-works__swiper-slide swiper-slide c-card">
                                        <div class="c-card__media">
                                            <a href="https://shogo-log2.coding11ty.com" target="blank" rel="noopener norefferrer">
                                                <picture>
                                                    <source type="image/webp" sizes="(min-width: 2280px) 864px, (min-width: 1080px) calc(36.44vw + 40px), (min-width: 340px) 89.31vw, 268px" srcset="<%= meta.path['img:top'] %>top-works-02-447x235.webp 447w, <%= meta.path['img:top'] %>top-works-02-596x313.webp 596w, <%= meta.path['img:top'] %>top-works-02-895x469.webp 895w, <%= meta.path['img:top'] %>top-works-02-1789x938.webp 1789w" />
                                                    <img class="c-card__image" width="447" height="235" src="<%= meta.path['img:top'] %>top-works-02-895x469.jpg" sizes="(min-width: 2280px) 864px, (min-width: 1080px) calc(36.44vw + 40px), (min-width: 340px) 89.31vw, 268px" srcset="<%= meta.path['img:top'] %>top-works-02-447x235.jpg 447w, <%= meta.path['img:top'] %>top-works-02-596x313.jpg 596w, <%= meta.path['img:top'] %>top-works-02-895x469.jpg 895w, <%= meta.path['img:top'] %>top-works-02-1789x938.jpg 1789w" alt="株式会社園崎組のウェブサイトのトップページのスクリーンショット" decoding="async" loading="lazy" />
                                                </picture>
                                            </a>
                                        </div>
                                        <div class="c-card__body">
                                            <h3 class="c-card__title c-heading__level3"><span class="c-text--uppercase c-text--bold">sonozaki co.ltd</span></h3>
                                            <span class="c-card__title-supplementary c-text__sm">（架空サイト_TOPページ）</span>
                                            <div class="c-card__description">
                                                <p class="c-card__text">Photoshopのデザインからコーディングを行いました。ハンバーガーメニュー、ローディングアニメーション、ファーストビューアニメーション、スクロールアニメーション、スムーススクロール機能を実装しています。</p>
                                                <p class="c-card__text">極力後戻りが発生しないよう、Zeplinでテキストのスタイルカタログとカラーパレットを作成してから、カスタムプロパティーとコンポーネントのコーディングに着手しています。デザインを忠実に素早く再現する為に、Polypaneの<a class="c-text--underline c-text--link" href="https://polypane.app/docs/reference-image/" target="blank" rel="noopener norefferrer">Reference Image</a>機能も積極的に活用しています。</p>
                                                <table class="c-table">
                                                    <tbody>
                                                        <tr class="c-table__row">
                                                            <th class="c-table__header" scope="row">工数</th>
                                                            <td class="c-table__data">10日（80時間）</td>
                                                        </tr>
                                                        <tr class="c-table__row">
                                                            <th class="c-table__header" scope="row">担当</th>
                                                            <td class="c-table__data">Coding</td>
                                                        </tr>
                                                        <tr class="c-table__row">
                                                            <th class="c-table__header" scope="row">言語</th>
                                                            <td class="c-table__data">EJS / Dart Sass / JavaScript</td>
                                                        </tr>
                                                        <tr class="c-table__row">
                                                            <th class="c-table__header" scope="row">設計手法</th>
                                                            <td class="c-table__data">FROCSS / BEM / <a class="u-display__inline c-text--link c-text--underline" href="https://sass-guidelin.es/" target="_blank" rel="noopener norefferrer">Sass Guidelines</a></td>
                                                        </tr>
                                                        <tr class="c-table__row">
                                                            <th class="c-table__header" scope="row">開発環境</th>
                                                            <td class="c-table__data">npm scripts/ webppack / gulp / Stylelint / lintHTML / Prettier / PostCSS / Renovate / Autoprefixer / nvm / Git ...</td>
                                                        </tr>
                                                        <tr class="c-table__row">
                                                            <th class="c-table__header" scope="row">コード</th>
                                                            <td class="c-table__data"><a class="c-text--underline c-text--link" href="https://github.com/masato1983/shogo-log2" target="blank" rel="noopener norefferrer">GitHub</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <button class="p-top-works__swiper-button-prev swiper-button-prev" type="button"></button> -->
                                <!-- <button class="p-top-works__swiper-button-next swiper-button-next" type="button"></button> -->
                            </div>
                            <div class="p-top-works__swiper-pagination swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end workd -->

            <!-- article -->
            <section class="p-top-article" data-aos="fade-in">
                <div class="l-container l-container__width--normal l-container__max-width--xl">
                    <div class="p-top-article__inner">
                        <div class="p-top-article__header" data-aos="fade-in">
                            <h2 class="p-top-article__heading c-heading__level2 c-text--uppercase">技術記事</h2>
                            <div class="p-top-article__textbox">
                                <p class="p-top-article__text"><a class="c-text--link c-text--underline u-display__inline" href="https://zenn.dev/massa" target="blank" rel="noopener norefferrer">Zenn</a>で技術記事を投稿しています。</p>
                            </div>
                        </div>
                        <div class="p-top-article__body" data-aos="fade-in">
                            <ul class="p-top-article__list">
                                <li class="p-top-article__item">
                                    <a class="p-top-article__link" href="https://zenn.dev/massa/articles/my-favorite-hover-media-query" target="blank" rel="noopener norefferrer">
                                        <div class="p-top-article__overview">
                                            <p class="p-top-article__time">2022.01.17</p>
                                            <p class="p-top-article__title c-heading__level3">hover-media-query</p>
                                            <p class="p-top-article__description c-text__sm">hoverメディアクエリの適切なマークアップと便利なSassのMixin</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="p-top-article__item">
                                    <a class="p-top-article__link" href="https://zenn.dev/massa/articles/my-favorite-sass-mq" target="blank" rel="noopener norefferrer">
                                        <div class="p-top-article__overview">
                                            <p class="p-top-article__time">2022.01.16</p>
                                            <p class="p-top-article__title c-heading__level3">sass-mq</p>
                                            <p class="p-top-article__description c-text__sm">Guardian社で開発された、メディアクエリのMixin</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="p-top-article__item">
                                    <a class="p-top-article__link" href="https://zenn.dev/massa/articles/my-favorite-sass-framework" target="blank" rel="noopener norefferrer">
                                        <div class="p-top-article__overview">
                                            <p class="p-top-article__time">2022.01.14</p>
                                            <p class="p-top-article__title c-heading__level3">Frontline Sass</p>
                                            <p class="p-top-article__description c-text__sm">Threespot社が提供しているSassフレームワーク</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="p-top-article__item">
                                    <a class="p-top-article__link" href="https://zenn.dev/massa/articles/optimizing-responsive-images" target="blank" rel="noopener norefferrer">
                                        <div class="p-top-article__overview">
                                            <p class="p-top-article__time">2022.01.13</p>
                                            <p class="p-top-article__title c-heading__level3">Resp Image Lint</p>
                                            <p class="p-top-article__description c-text__sm">静的サイトにおけるレスポンシブ画像の最適化と検証ツール</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="p-top-article__item">
                                    <a class="p-top-article__link" href="https://zenn.dev/massa/articles/7b9765a66ed0dd" target="blank" rel="noopener norefferrer">
                                        <div class="p-top-article__overview">
                                            <p class="p-top-article__time">2022.01.12</p>
                                            <p class="p-top-article__title c-heading__level3">Polypane</p>
                                            <p class="p-top-article__description c-text__sm">ピクセルパーフェクトに役立つ機能をもった開発者専用ブラウザ</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end article -->

            <!-- contact -->
            <section class="p-top-contact" data-aos="fade-in">
                <div class="l-container l-container__width--normal l-container__max-width--xl">
                    <div class="p-top-contact__inner">
                        <div class="p-top-contact__header" data-aos="fade-in">
                            <h2 class="p-top-contact__heading c-heading__level2 c-text--uppercase">お問い合わせ</h2>
                            <div class="p-top-contact__textbox">
                                <p class="p-top-contact__text">
                                    <span class="u-break-landscape">コーディングに関するご依頼・ご相談などお気軽にお問い合わせください。</span><span class="u-break-landscape"><a class="c-text--link c-text--underline u-display__inline" href="https://twitter.com/jinen_syouten" target="blank" rel="noopener norefferrer">Twitter</a>のDMでも受け付けています。</span>
                                </p>
                            </div>
                        </div>
                        <div class="p-top-contact__body" data-aos="fade-in">
                            <div class="p-top-contact__form">
                                <form class="c-form formrun" action="https://form.run/api/v1/r/u3x899pdx0hskjaj6x81mih2" method="post">
                                    <div class="p-top-contact__group">
                                        <label class="c-form__label" for="organization">貴社名</label>
                                        <div class="p-top-contact__name">
                                            <input class="c-form__input" type="text" name="organization" id="organization" autocomplete="organization" />
                                        </div>
                                    </div>
                                    <div class="p-top-contact__group">
                                        <label class="c-form__label" for="name">お名前<span class="c-form__badge c-text__xs">[必須]</span></label>
                                        <div class="p-top-contact__name">
                                            <input class="c-form__input" type="text" name="name" id="name" autocomplete="name" data-bouncer-target="#name-error" required />
                                        </div>
                                        <div class="c-form__error-message c-text__sm c-text--warning" id="name-error"></div>
                                    </div>
                                    <div class="p-top-contact__group">
                                        <label class="c-form__label" for="email">メールアドレス<span class="c-form__badge c-text__xs">[必須]</span></label>
                                        <div class="p-top-contact__email">
                                            <input class="c-form__input" type="email" name="email" id="email" autocomplete="email" data-bouncer-target="#email-error" required />
                                        </div>
                                        <div class="c-form__error-message c-text__sm c-text--warning" id="email-error"></div>
                                    </div>
                                    <div class="p-top-contact__group">
                                        <label class="c-form__label" for="message">お問い合わせ内容<span class="c-form__badge c-text__xs">[必須]</span></label>
                                        <div class="p-top-contact__textarea">
                                            <textarea class="c-form__textarea" name="message" id="message" data-bouncer-target="#message-error" required></textarea>
                                        </div>
                                        <div class="c-form__error-message c-text__sm c-text--warning" id="message-error"></div>
                                    </div>
                                    <!-- ボット投稿をブロックするためのタグ -->
                                    <div class="_formrun_gotcha u-visually-hidden">
                                        <label class="u-visually-hidden" for="_formrun_gotcha">If you are a human, ignore this field</label>
                                        <input type="text" name="_formrun_gotcha" id="_formrun_gotcha" tabindex="-1" />
                                    </div>
                                    <div class="p-top-contact__submit">
                                        <button class="c-button c-button--black c-button--md" type="submit">送信する</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end contact -->
        </main>
        <!-- end main section -->

        <!-- footer -->
        <%- include('./_include/_footer') %>
        <!-- end footer -->
    </body>
</html>
