<!DOCTYPE html>
<html lang="ja">
    <%- include('./_include/_head', {page: meta.top}); %>
    <body class="c-text__family--ja-sans c-text__size--md c-text__color--neutral-darken c-text__weight--normal c-text__ls--normal c-text__lh--normal">
        <!-- loading -->
        <%- include('./_include/_loading'); %>
        <!-- end loading -->

        <!-- header -->
        <%- include('./_include/_header', { page: 'top' }); %>
        <!-- end header -->

        <!-- main section -->
        <main class="l-main">
            <!-- top-kv -->
            <div class="p-top-kv">
                <div class="p-top-kv__media-01">
                    <picture>
                        <source type="image/webp" sizes="" srcset="<%= meta.path['img:top'] %>top-kv-01-708x711.webp 708w, <%= meta.path['img:top'] %>top-kv-01-1416x1422.webp 1416w, <%= meta.path['img:top'] %>top-kv-01-2124x2133.webp 2124w" />
                        <img class="p-top-kv-01__image" width="708" height="711" src="<%= meta.path['img:top'] %>top-kv-01-2124x2133.png" sizes="" srcset="<%= meta.path['img:top'] %>top-kv-01-708x711.png 708w, <%= meta.path['img:top'] %>top-kv-01-1416x1422.png 1416w, <%= meta.path['img:top'] %>top-kv-01-2124x2133.png 2124w" alt="" decoding="async" loading="eager" />
                    </picture>
                </div>
                <div class="l-container l-container--md u-z--10 u-position--relative">
                    <div class="p-top-kv__inner">
                        <div class="p-top-kv__body">
                            <h2 class="p-top-kv__copy c-text__weight--bold">コーディングの手間を<br class="u-break--until-full" />最小に、<br class="u-break--from-full" />デザインに注力<br class="u-break--until-full" />する助けに<br /></h2>
                            <p class="p-top-kv__text c-text__weight--bold">ユアコーディングはコーディングに<br class="u-break--until-full" />特化した<br class="u-break--from-full" />フリーランス<br class="u-break--until-full" />デザインに注力されたい方の<br class="u-break--until-full" />助けになります</p>
                            <a class="p-top-kv__link c-button c-button__size--md c-button__color--gradient c-text__color--white c-text__weight--bold" href="">お問い合わせ</a>
                        </div>
                        <div class="p-top-kv__media-02">
                            <picture>
                                <source type="image/webp" sizes="" srcset="<%= meta.path['img:top'] %>top-kv-02-518x430.webp 518w, <%= meta.path['img:top'] %>top-kv-02-1036x860.webp 1036w, <%= meta.path['img:top'] %>top-kv-02-1554x1290.webp 1554w" />
                                <img class="p-top-kv-02__image" width="518" height="430" src="<%= meta.path['img:top'] %>top-kv-02-1554x1290.png" sizes="" srcset="<%= meta.path['img:top'] %>top-kv-02-518x430.png 518w, <%= meta.path['img:top'] %>top-kv-02-1036x860.png 1036w, <%= meta.path['img:top'] %>top-kv-02-1554x1290.png 1554w" alt="" decoding="async" loading="eager" />
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end top-kv -->

            <!-- top-feature -->
            <section id="top-feature" class="p-top-feature">
                <div class="l-container l-container--md">
                    <div class="p-top-feature__inner">
                        <div class="p-top-feature__title">
                            <h2 class="p-top-feature__heading--level2 c-text__size--3xl c-text__weight--bold c-text__align--center">ユアコーディング3つの特徴</h2>
                            <span class="p-top-feature__subtitle c-text__weight--bold c-text__color--primary-mid c-text__align--center c-text__uppercase u-display__block">features</span>
                        </div>
                        <div class="p-top-feature__body">
                            <ul class="p-top-feature__list">
                                <li class="p-top-feature__item">
                                    <h3 class="p-top-feature__heading--level3 c-text__size--2xl c-text__weight--bold c-text__align--center">高速コーディング</h3>
                                    <div class="p-top-feature__card-01">
                                        <div class="p-top-feature__media-01">
                                            <picture>
                                                <source type="image/webp" sizes="" srcset="<%= meta.path['img:top'] %>top-feature-01-380x314.webp 380w, <%= meta.path['img:top'] %>top-feature-01-760x628.webp 760w, <%= meta.path['img:top'] %>top-feature-01-1140x942.webp 1140w" />
                                                <img class="p-top-feature__image" width="380" height="314" src="<%= meta.path['img:top'] %>top-feature-01-1140x942.png" sizes="" srcset="<%= meta.path['img:top'] %>top-feature-01-380x314.png 380w, <%= meta.path['img:top'] %>top-feature-01-760x628.png 760w, <%= meta.path['img:top'] %>top-feature-01-1140x942.png 1140w" alt="" decoding="async" loading="lazy" />
                                            </picture>
                                        </div>
                                        <div class="p-top-feature__textbox-01">
                                            <h4 class="p-top-feature__heading--level4 c-text__size--xl c-text__weight--bold c-text__lh--loose c-text__align--center-until-tablet">コーディングに特化したフリーランスのため、<br class="u-break--from-desktop" />スピード感を持った開発が可能。</h4>
                                            <p class="p-top-feature__paragraph-01 c-text__weight--bold c-text__lh--relaxed c-text__align--center-until-tablet">開発は常にスピードとの勝負です。<br class="u-break--from-desktop" />ユアコーディングはコーディングに特化しているため、<br class="u-break--from-desktop" />素早く納品することで、クライアントがデザインに注力<br class="u-break--from-desktop" />する助けとなります。</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="p-top-feature__item">
                                    <h3 class="p-top-feature__heading--level3 c-text__size--2xl c-text__weight--bold c-text__align--center">高品質</h3>
                                    <div class="p-top-feature__card-02">
                                        <div class="p-top-feature__media-02">
                                            <picture>
                                                <source type="image/webp" sizes="" srcset="<%= meta.path['img:top'] %>top-feature-02-479x329.webp 479w, <%= meta.path['img:top'] %>top-feature-02-958x658.webp 958w, <%= meta.path['img:top'] %>top-feature-02-1437x987.webp 1437w" />
                                                <img class="p-top-feature__image" width="479" height="329" src="<%= meta.path['img:top'] %>top-feature-02-1437x987.png" sizes="" srcset="<%= meta.path['img:top'] %>top-feature-02-479x329.png 479w, <%= meta.path['img:top'] %>top-feature-02-958x658.png 958w, <%= meta.path['img:top'] %>top-feature-02-1437x987.png 1437w" alt="" decoding="async" loading="lazy" />
                                            </picture>
                                        </div>
                                        <div class="p-top-feature__textbox-02">
                                            <h4 class="p-top-feature__heading--level4 c-text__size--xl c-text__weight--bold c-text__lh--loose c-text__align--center-until-tablet">正しいマークアップで、<br class="u-break--from-desktop" />内部SEOに強いコーディングを<br class="u-break--from-desktop" />デフォルトで行います。</h4>
                                            <p class="p-top-feature__paragraph-02 c-text__weight--bold c-text__lh--relaxed c-text__align--center-until-tablet">ユアコーディングでは、「予測しやすい」「再利用しやすい」<br class="u-break--from-desktop" />「保守しやすい」「拡張しやすい」と言った設計をもとに<br class="u-break--from-desktop" />きちんとコーディングを行うため、納品後も安心です。</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="p-top-feature__item">
                                    <h3 class="p-top-feature__heading--level3 c-text__size--2xl c-text__weight--bold c-text__align--center">迅速なレスポンス</h3>
                                    <div class="p-top-feature__card-03">
                                        <div class="p-top-feature__media-03">
                                            <picture>
                                                <source type="image/webp" sizes="" srcset="<%= meta.path['img:top'] %>top-feature-03-400x290.webp 400w, <%= meta.path['img:top'] %>top-feature-03-800x580.webp 800w, <%= meta.path['img:top'] %>top-feature-03-1200x870.webp 1200w" />
                                                <img class="p-top-feature__image" width="479" height="329" src="<%= meta.path['img:top'] %>top-feature-03-1200x870.png" sizes="" srcset="<%= meta.path['img:top'] %>top-feature-03-400x290.png 400w, <%= meta.path['img:top'] %>top-feature-03-800x580.png 800w, <%= meta.path['img:top'] %>top-feature-03-1200x870.png 1200w" alt="" decoding="async" loading="lazy" />
                                            </picture>
                                        </div>
                                        <div class="p-top-feature__textbox-03">
                                            <h4 class="p-top-feature__heading--level4 c-text__size--xl c-text__weight--bold c-text__lh--loose c-text__align--center-until-tablet">原則いただいたメッセージは、<br class="u-break--from-desktop" />業務時間内であれば6時間以内に<br class="u-break--from-desktop" />お返しいたします。</h4>
                                            <p class="p-top-feature__paragraph-03 c-text__weight--bold c-text__lh--relaxed c-text__align--center-until-tablet">連絡を返さないフリーランスが多い中、<br class="u-break--from-desktop" />ユアコーディングでは定期的な進捗報告など、<br class="u-break--from-desktop" />社会人としての基本を踏まえて仕事を行なって<br class="u-break--from-desktop" />おります。</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end top-feature -->
        </main>
        <!-- end main section -->

        <!-- footer -->
        <%- include('./_include/_footer') %>
        <!-- end footer -->
    </body>
</html>
