<!DOCTYPE html>
<html lang="ja">
    <%- include('./_include/_head', {page: meta.top}); %>
    <body class="c-text__family--ja-sans c-text__size--md c-text__color--neutral-darken c-text__weight--normal c-text__ls--normal c-text__lh--normal">
        <!-- loading -->
        <%- include('./_include/_loading'); %>
        <!-- end loading -->

        <!-- header -->
        <%- include('./_include/_header', { page: 'top' }); %>
        <!-- end header -->

        <!-- main section -->
        <main class="l-main">
            <!-- top-kv -->
            <div class="p-top-kv">
                <div class="p-top-kv__media-01">
                    <picture>
                        <source type="image/webp" sizes="" srcset="<%= meta.path['img:top'] %>top-kv-01-708x711.webp 708w, <%= meta.path['img:top'] %>top-kv-01-1416x1422.webp 1416w, <%= meta.path['img:top'] %>top-kv-01-2124x2133.webp 2124w" />
                        <img class="p-top-kv-01__image" width="708" height="711" src="<%= meta.path['img:top'] %>top-kv-01-2124x2133.png" sizes="" srcset="<%= meta.path['img:top'] %>top-kv-01-708x711.png 708w, <%= meta.path['img:top'] %>top-kv-01-1416x1422.png 1416w, <%= meta.path['img:top'] %>top-kv-01-2124x2133.png 2124w" alt="" decoding="async" loading="eager" />
                    </picture>
                </div>
                <div class="p-top-kv__container u-mx--auto u-z--10 u-position--relative">
                    <div class="p-top-kv__inner">
                        <div class="p-top-kv__body">
                            <h2 class="p-top-kv__copy c-text__size--3xl c-text__weight--bold">コーディングの手間を<br class="u-display__none--from-wide" />最小に、<br class="u-display__none--until-wide" />デザインに注力<br class="u-display__none--from-wide" />する助けに<br /></h2>
                            <p class="p-top-kv__text c-text__weight--bold">ユアコーディングはコーディングに<br class="u-display__none--from-wide" />特化した<br class="u-display__none--until-wide" />フリーランス<br class="u-display__none--from-wide" />デザインに注力されたい方の<br class="u-display__none--from-wide" />助けになります</p>
                            <a class="p-top-kv__link c-button c-button__size--md c-button__color--gradient c-text__color--white c-text__weight--bold" href="">お問い合わせ</a>
                        </div>
                        <div class="p-top-kv__media-02">
                            <picture>
                                <source type="image/webp" sizes="" srcset="<%= meta.path['img:top'] %>top-kv-02-518x430.webp 518w, <%= meta.path['img:top'] %>top-kv-02-1036x860.webp 1036w, <%= meta.path['img:top'] %>top-kv-02-1554x1290.webp 1554w" />
                                <img class="p-top-kv-02__image" width="518" height="430" src="<%= meta.path['img:top'] %>top-kv-02-1554x1290.png" sizes="" srcset="<%= meta.path['img:top'] %>top-kv-02-518x430.png 518w, <%= meta.path['img:top'] %>top-kv-02-1036x860.png 1036w, <%= meta.path['img:top'] %>top-kv-02-1554x1290.png 1554w" alt="" decoding="async" loading="eager" />
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end top-kv -->

            <!-- top-feature -->
            <section style="height: 2000px"></section>
            <!-- end top-feature -->
        </main>
        <!-- end main section -->

        <!-- footer -->
        <%- include('./_include/_footer') %>
        <!-- end footer -->
    </body>
</html>
