<!DOCTYPE html>
<html lang="ja">
    <%- include('./_include/_head', {page: meta.top}); %>
    <body class="c-text__family--ja-sans c-text__size--md c-text__color--neutral-darken c-text__weight--normal c-text__ls--normal c-text__lh--normal">
        <!-- loading -->
        <%- include('./_include/_loading'); %>
        <!-- end loading -->

        <!-- header -->
        <%- include('./_include/_header', { page: 'top' }); %>
        <!-- end header -->

        <!-- main section -->
        <main class="l-main">
            <!-- top-kv -->
            <div class="p-top-kv">
                <div class="p-top-kv__media-01">
                    <picture>
                        <source type="image/webp" sizes="(min-width: 2220px) 900px, (min-width: 1680px) calc(15.96vw + 549px), calc(22.79vw + 432px)" srcset="<%= meta.path['img:top'] %>top-kv-01-708x711.webp 708w, <%= meta.path['img:top'] %>top-kv-01-1416x1422.webp 1416w, <%= meta.path['img:top'] %>top-kv-01-2124x2133.webp 2124w" />
                        <img class="p-top-kv-01__image" width="708" height="711" src="<%= meta.path['img:top'] %>top-kv-01-2124x2133.png" sizes="(min-width: 2220px) 900px, (min-width: 1680px) calc(15.96vw + 549px), calc(22.79vw + 432px)" srcset="<%= meta.path['img:top'] %>top-kv-01-708x711.png 708w, <%= meta.path['img:top'] %>top-kv-01-1416x1422.png 1416w, <%= meta.path['img:top'] %>top-kv-01-2124x2133.png 2124w" alt="" decoding="async" loading="eager" />
                    </picture>
                </div>
                <div class="l-container l-container--md u-z--10 u-position--relative">
                    <div class="p-top-kv__inner">
                        <div class="p-top-kv__body">
                            <h2 class="p-top-kv__copy c-text__weight--bold"><span class="u-display__block--until-full">コーディングの手間を</span><span>最小に、</span><br class="u-break--from-full" /><span>デザインに注力</span><span class="u-display__block--until-full">する助けに</span><br /></h2>
                            <p class="p-top-kv__text c-text__weight--bold"><span class="u-display__block--until-full">ユアコーディングはコーディングに</span><span>特化した</span><span class="u-display__block--from-full"></span><span>フリーランス</span><span class="u-display__block--until-full">デザインに注力されたい方の</span><span class="u-display__block--until-full">助けになります</span></p>
                            <a class="p-top-kv__link c-button c-button__size--md c-button__color--gradient c-text__color--white c-text__weight--bold" href="">お問い合わせ</a>
                        </div>
                        <div class="p-top-kv__media-02">
                            <picture>
                                <source type="image/webp" sizes="(min-width: 2080px) 700px, (min-width: 1600px) calc(22.83vw + 230px), calc(20.94vw + 257px)" srcset="<%= meta.path['img:top'] %>top-kv-02-518x430.webp 518w, <%= meta.path['img:top'] %>top-kv-02-1036x860.webp 1036w, <%= meta.path['img:top'] %>top-kv-02-1554x1290.webp 1554w" />
                                <img class="p-top-kv-02__image" width="518" height="430" src="<%= meta.path['img:top'] %>top-kv-02-1554x1290.png" sizes="(min-width: 2080px) 700px, (min-width: 1600px) calc(22.83vw + 230px), calc(20.94vw + 257px)" srcset="<%= meta.path['img:top'] %>top-kv-02-518x430.png 518w, <%= meta.path['img:top'] %>top-kv-02-1036x860.png 1036w, <%= meta.path['img:top'] %>top-kv-02-1554x1290.png 1554w" alt="" decoding="async" loading="eager" />
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end top-kv -->

            <!-- top-feature -->
            <section class="p-top-feature" id="top-feature">
                <div class="l-container l-container--md">
                    <div class="p-top-feature__inner">
                        <div class="p-top-feature__title">
                            <h2 class="p-top-feature__heading--lv2 c-text__size--3xl c-text__weight--bold c-text__align--center">ユアコーディング3つの特徴</h2>
                            <span class="p-top-feature__subtitle c-text__weight--bold c-text__color--primary-mid c-text__align--center c-text__uppercase u-display__block">features</span>
                        </div>
                        <div class="p-top-feature__body">
                            <ul class="p-top-feature__list">
                                <li class="p-top-feature__item">
                                    <h3 class="p-top-feature__heading--lv3 c-text__size--2xl c-text__weight--bold c-text__align--center">高速コーディング</h3>
                                    <div class="p-top-feature__card-01">
                                        <div class="p-top-feature__media-01">
                                            <picture>
                                                <source type="image/webp" sizes="(min-width: 2020px) 661px, (min-width: 1380px) calc(44.19vw - 223px), (min-width: 1080px) calc(49.29vw - 167px), (min-width: 780px) calc(43.21vw - 75px), calc(91.3vw - 14px)" srcset="<%= meta.path['img:top'] %>top-feature-01-380x314.webp 380w, <%= meta.path['img:top'] %>top-feature-01-760x628.webp 760w, <%= meta.path['img:top'] %>top-feature-01-1140x942.webp 1140w" />
                                                <img class="p-top-feature__image" width="380" height="314" src="<%= meta.path['img:top'] %>top-feature-01-1140x942.png" sizes="(min-width: 2020px) 661px, (min-width: 1380px) calc(44.19vw - 223px), (min-width: 1080px) calc(49.29vw - 167px), (min-width: 780px) calc(43.21vw - 75px), calc(91.3vw - 14px)" srcset="<%= meta.path['img:top'] %>top-feature-01-380x314.png 380w, <%= meta.path['img:top'] %>top-feature-01-760x628.png 760w, <%= meta.path['img:top'] %>top-feature-01-1140x942.png 1140w" alt="" decoding="async" loading="lazy" />
                                            </picture>
                                        </div>
                                        <div class="p-top-feature__textbox-01">
                                            <h4 class="p-top-feature__heading--lv4 c-text__size--xl c-text__weight--bold c-text__lh--loose c-text__align--center-until-tablet"><span class="u-display__block--from-desktop">コーディングに特化したフリーランスのため、</span><span class="u-display__block--from-desktop">スピード感を持った開発が可能。</span></h4>
                                            <p class="p-top-feature__paragraph-01 c-text__weight--bold c-text__lh--relaxed c-text__align--center-until-tablet"><span class="u-display__block--from-desktop">開発は常にスピードとの勝負です。</span><span class="u-display__block--from-desktop">ユアコーディングはコーディングに特化しているため、</span><span class="u-display__block--from-desktop">素早く納品することでクライアントがデザインに注力</span><span class="u-display__block--from-desktop">する助けとなります。</span></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="p-top-feature__item">
                                    <h3 class="p-top-feature__heading--lv3 c-text__size--2xl c-text__weight--bold c-text__align--center">高品質</h3>
                                    <div class="p-top-feature__card-02">
                                        <div class="p-top-feature__media-02">
                                            <picture>
                                                <source type="image/webp" sizes="(min-width: 2020px) 774px, (min-width: 1380px) calc(44.03vw - 107px), (min-width: 1080px) calc(50.36vw - 95px), (min-width: 780px) calc(51.79vw - 79px), calc(91.3vw - 14px)" srcset="<%= meta.path['img:top'] %>top-feature-02-479x329.webp 479w, <%= meta.path['img:top'] %>top-feature-02-958x658.webp 958w, <%= meta.path['img:top'] %>top-feature-02-1437x987.webp 1437w" />
                                                <img class="p-top-feature__image" width="479" height="329" src="<%= meta.path['img:top'] %>top-feature-02-1437x987.png" sizes="(min-width: 2020px) 774px, (min-width: 1380px) calc(44.03vw - 107px), (min-width: 1080px) calc(50.36vw - 95px), (min-width: 780px) calc(51.79vw - 79px), calc(91.3vw - 14px)" srcset="<%= meta.path['img:top'] %>top-feature-02-479x329.png 479w, <%= meta.path['img:top'] %>top-feature-02-958x658.png 958w, <%= meta.path['img:top'] %>top-feature-02-1437x987.png 1437w" alt="" decoding="async" loading="lazy" />
                                            </picture>
                                        </div>
                                        <div class="p-top-feature__textbox-02">
                                            <h4 class="p-top-feature__heading--lv4 c-text__size--xl c-text__weight--bold c-text__lh--loose c-text__align--center-until-tablet"><span class="u-display__block--from-desktop">正しいマークアップで、</span><span class="u-display__block--from-desktop">内部SEOに強いコーディングを</span><span class="u-display__block--from-desktop">デフォルトで行います。</span></h4>
                                            <p class="p-top-feature__paragraph-02 c-text__weight--bold c-text__lh--relaxed c-text__align--center-until-tablet"><span class="u-display__block--from-desktop">ユアコーディングでは、「予測しやすい」「再利用しやすい」</span><span class="u-display__block--from-desktop">「保守しやすい」「拡張しやすい」と言った設計をもとに</span><span class="u-display__block--from-desktop">きちんとコーディングを行うため、納品後も安心です。</span></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="p-top-feature__item">
                                    <h3 class="p-top-feature__heading--lv3 c-text__size--2xl c-text__weight--bold c-text__align--center">迅速なレスポンス</h3>
                                    <div class="p-top-feature__card-03">
                                        <div class="p-top-feature__media-03">
                                            <picture>
                                                <source type="image/webp" sizes="(min-width: 2020px) 739px, (min-width: 1380px) calc(44.19vw - 145px), (min-width: 1080px) calc(50vw - 86px), (min-width: 780px) calc(51.43vw - 71px), calc(91.3vw - 14px)" srcset="<%= meta.path['img:top'] %>top-feature-03-400x290.webp 400w, <%= meta.path['img:top'] %>top-feature-03-800x580.webp 800w, <%= meta.path['img:top'] %>top-feature-03-1200x870.webp 1200w" />
                                                <img class="p-top-feature__image" width="479" height="329" src="<%= meta.path['img:top'] %>top-feature-03-1200x870.png" sizes="(min-width: 2020px) 739px, (min-width: 1380px) calc(44.19vw - 145px), (min-width: 1080px) calc(50vw - 86px), (min-width: 780px) calc(51.43vw - 71px), calc(91.3vw - 14px)" srcset="<%= meta.path['img:top'] %>top-feature-03-400x290.png 400w, <%= meta.path['img:top'] %>top-feature-03-800x580.png 800w, <%= meta.path['img:top'] %>top-feature-03-1200x870.png 1200w" alt="" decoding="async" loading="lazy" />
                                            </picture>
                                        </div>
                                        <div class="p-top-feature__textbox-03">
                                            <h4 class="p-top-feature__heading--lv4 c-text__size--xl c-text__weight--bold c-text__lh--loose c-text__align--center-until-tablet"><span class="u-display__block--from-desktop">原則いただいたメッセージは、</span><span class="u-display__block--from-desktop">業務時間内であれば6時間以内に</span><span class="u-display__block--from-desktop">お返しいたします。</span></h4>
                                            <p class="p-top-feature__paragraph-03 c-text__weight--bold c-text__lh--relaxed c-text__align--center-until-tablet"><span>連絡を返さないフリーランスが多い中、</span><span>ユアコーディングでは定期的な進捗報告など、</span><span>社会人としての基本を踏まえて仕事を行なって</span><span>おります。</span></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end top-feature -->

            <!-- price section -->
            <section class="p-top-price" id="top-price">
                <div class="l-container l-container--md">
                    <div class="p-top-price__inner">
                        <div class="p-top-price__title">
                            <h2 class="p-top-price__heading--lv2 c-text__size--3xl c-text__weight--bold c-text__align--center">価格</h2>
                            <span class="p-top-price__subtitle c-text__weight--bold c-text__color--primary-mid c-text__align--center c-text__uppercase u-display__block">price</span>
                        </div>
                        <div class="p-top-price__body">
                            <div class="p-top-price__table">
                                <table class="c-table">
                                    <caption class="u-visually-hidden">
                                        ウェブ制作の価格表
                                    </caption>
                                    <thead class="u-visually-hidden">
                                        <th scope="col">制作の内容</th>
                                        <th scope="col">制作にかかる費用</th>
                                    </thead>
                                    <tbody>
                                        <tr class="c-table__row">
                                            <th scope="row" class="c-table__header c-text__weight--bold c-text__align--center-until-tablet">HTMLコーディングトップページ</th>
                                            <td class="c-table__data c-text__weight--bold c-text__align--center-until-tablet">30,000円〜</td>
                                        </tr>
                                        <tr class="c-table__row">
                                            <th scope="row" class="c-table__header c-text__weight--bold c-text__align--center-until-tablet">HTMLコーディング下層1ページ</th>
                                            <td class="c-table__data c-text__weight--bold c-text__align--center-until-tablet">10,000円〜</td>
                                        </tr>
                                        <tr class="c-table__row">
                                            <th scope="row" class="c-table__header c-text__weight--bold c-text__align--center-until-tablet">HTML+WordPressトップページ</th>
                                            <td class="c-table__data c-text__weight--bold c-text__align--center-until-tablet">55,000円〜</td>
                                        </tr>
                                        <tr class="c-table__row">
                                            <th scope="row" class="c-table__header c-text__weight--bold c-text__align--center-until-tablet">HTML+WordPress下層1ページ</th>
                                            <td class="c-table__data c-text__weight--bold c-text__align--center-until-tablet">15,000円〜</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p class="p-top-price__annotation c-text__color--neutral-darker c-text__weight--bold c-text__align--center">＊詳細な価格はページや仕様によって異なります</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end price section -->

            <!-- faq section -->
            <section class="p-top-faq" id="#top-faq">
                <div class="l-container l-container--md">
                    <div class="p-top-faq__inner">
                        <div class="p-top-faq__title">
                            <h2 class="p-top-faq__heading--lv2 c-text__size--3xl c-text__weight--bold c-text__align--center">よくある質問</h2>
                            <span class="p-top-faq__subtitle c-text__weight--bold c-text__color--primary-mid c-text__align--center c-text__uppercase u-display__block">faq</span>
                        </div>
                        <div class="p-top-faq__accordion c-text__align--center">
                            <ul class="c-accordion">
                                <li class="c-accordion__item c-text__weight--bold c-text__size--sm c-text__lh--extra-ralaxed">
                                    <button class="c-accordion__button is-active" aria-controls="answer-01" aria-expanded="false">デザインから一貫してお願いすることは可能でしょうか</button>
                                    <div class="c-accordion__answer c-text__color--neutral-darker" aria-hidden="true" id="answer-01">
                                        <p><span class="u-display__block">ユアコーディングはコーディングに特化したサービスですので、デザインからお受けすることは基本的にありません。</span><span class="u-display__block">ただデザインを行う際は提携しているデザイナーと連携して対応させていただきますので、別途ご連絡ください。</span></p>
                                    </div>
                                </li>
                                <li class="c-accordion__item c-text__weight--bold c-text__size--sm c-text__lh--extra-ralaxed">
                                    <button class="c-accordion__button" aria-controls="answer-02" aria-expanded="false">WordPressのカスタマイズをお願いすることも可能でしょうか？</button>
                                    <div class="c-accordion__answer c-text__color--neutral-darker" aria-hidden="true" id="answer-02"><p>可能です。ただECサイトなどの場合は構築難易度や工数の関係で綿密にヒアリングさせていただきたく思います。</p></div>
                                </li>
                                <li class="c-accordion__item c-text__weight--bold c-text__size--sm c-text__lh--extra-ralaxed">
                                    <button class="c-accordion__button" aria-controls="answer-03" aria-expanded="false">コーディングのスピード感が知りたい</button>
                                    <div class="c-accordion__answer c-text__color--neutral-darker" aria-hidden="true" id="answer-03"><p>HTMLレスポンシブ込み5ページで1週間、10ページで2週間、WordPressサイト5ページで2週間、10ページで3週間が目安になります。</p></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end faq section -->

            <!-- blog section -->
            <section class="p-top-blog" id="top-blog">
                <div class="l-container l-container--lg">
                    <div class="p-top-blog__inner">
                        <div class="p-top-blog__title">
                            <h2 class="p-top-blog__heading--lv2 c-text__size--3xl c-text__weight--bold c-text__align--center">ブログ</h2>
                            <span class="p-top-blog__subtitle c-text__weight--bold c-text__color--primary-mid c-text__align--center c-text__uppercase u-display__block">blog</span>
                        </div>
                    </div>
                    <div class="p-top-blog__body">
                        <ul class="p-top-blog__list">
                            <li class="p-top-blog__item">
                                <a href="" class="c-card-01">
                                    <div class="c-card-01__media">
                                        <picture>
                                            <source type="image/webp" sizes="" srcset="<%= meta.path['img:top'] %>top-blog-01-480x720.webp 480w, <%= meta.path['img:top'] %>top-blog-01-640x960.webp 640w, <%= meta.path['img:top'] %>top-blog-01-960x1440.webp 960w" />
                                            <img class="c-card-01__image" width="480" height="720" src="<%= meta.path['img:top'] %>top-blog-01-960x1440.jpg" sizes="" srcset="<%= meta.path['img:top'] %>top-blog-01-480x720.jpg 480w, <%= meta.path['img:top'] %>top-blog-01-640x960.jpg 640w, <%= meta.path['img:top'] %>top-blog-01-960x1440.jpg 960w" alt="" decoding="async" loading="lazy" />
                                        </picture>
                                    </div>
                                    <div class="c-card-01__body">
                                        <div class="c-card-01__title">
                                            <h3 class="c-card-01__heading--lv3 c-text__size--lg c-text__weight--bold">サイトをリニューアルオープンしました。</h3>
                                        </div>
                                        <div class="c-card__footer">
                                            <time class="c-card-01__date c-text__weight--bold c-text__color--neutral-darker" datetime="2020-01-23">2020.01.23</time>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="p-top-blog__item">
                                <a href="" class="c-card-01">
                                    <div class="c-card-01__media">
                                        <picture>
                                            <source type="image/webp" sizes="" srcset="<%= meta.path['img:top'] %>top-blog-02-480x720.webp 480w, <%= meta.path['img:top'] %>top-blog-02-640x960.webp 640w, <%= meta.path['img:top'] %>top-blog-02-960x1440.webp 960w" />
                                            <img class="c-card-01__image" width="480" height="720" src="<%= meta.path['img:top'] %>top-blog-02-960x1440.jpg" sizes="" srcset="<%= meta.path['img:top'] %>top-blog-02-480x720.jpg 480w, <%= meta.path['img:top'] %>top-blog-02-640x960.jpg 640w, <%= meta.path['img:top'] %>top-blog-02-960x1440.jpg 960w" alt="" decoding="async" loading="lazy" />
                                        </picture>
                                    </div>
                                    <div class="c-card-01__body">
                                        <div class="c-card-01__title">
                                            <h3 class="c-card-01__heading--lv3 c-text__size--lg c-text__weight--bold">WebサイトでSEO内部施策に適したコーディングでどれぐらいサイトが早くなるのか検証してみました</h3>
                                        </div>
                                        <div class="c-card-01__footer">
                                            <time class="c-card-01__date c-text__weight--bold c-text__color--neutral-darker" datetime="2020-01-23">2020.01.24</time>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="p-top-blog__item">
                                <a href="" class="c-card-01">
                                    <div class="c-card-01__media">
                                        <picture>
                                            <source type="image/webp" sizes="" srcset="<%= meta.path['img:top'] %>top-blog-03-480x854.webp 480w, <%= meta.path['img:top'] %>top-blog-03-640x854.webp 640w, <%= meta.path['img:top'] %>top-blog-03-960x1708.webp 960w" />
                                            <img class="c-card-01__image" width="480" height="854" src="<%= meta.path['img:top'] %>top-blog-03-960x1708.jpg" sizes="" srcset="<%= meta.path['img:top'] %>top-blog-03-480x854.jpg 480w, <%= meta.path['img:top'] %>top-blog-03-640x854.jpg 640w, <%= meta.path['img:top'] %>top-blog-03-960x1708.jpg 960w" alt="" decoding="async" loading="lazy" />
                                        </picture>
                                    </div>
                                    <div class="c-card-01__body">
                                        <div class="c-card-01__title">
                                            <h3 class="c-card-01__heading--lv3 c-text__size--lg c-text__weight--bold">ユアコーディングではデザイナーの方を広く募集しています。</h3>
                                        </div>
                                        <div class="c-card-01__footer">
                                            <time class="c-card-01__date c-text__weight--bold c-text__color--neutral-darker" datetime="2020-01-25">2020.01.25</time>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- end blog section -->

            <!-- works section -->
            <section class="p-top-works" id="top-works">
                <div style="height: 2000px"></div>
            </section>
            <!-- end works section -->
        </main>
        <!-- end main section -->

        <!-- footer -->
        <%- include('./_include/_footer') %>
        <!-- end footer -->
    </body>
</html>
